* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.vh-100 {
  width: 100%;
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-100-vh{
  min-height: 100vh;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pading-normal {
  padding: 0.3rem;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.bg-blur {
  filter: blur(2px);
}

.page-container{
  width: 98%;
  margin-left: 1%;
  min-height: 100vh;
}

button{
  width: auto;
  padding: 0.5rem;
  background-color: #fa6f6f;
  color: aliceblue;
  cursor: pointer;
  border-radius: 0.2rem;
  min-width: 5rem;
}

li{
  list-style: none;
}

textarea{
  border: none;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #1d1d1f;
}