<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYours</title>
    <style>
        {%include "css/common.css"%}
        {%include "css/header.css"%}
        {%include "css/footer.css"%}
    </style>
</head>

<body>
    {% include "components/header.html"%}
    <main>
        <div class="page-container">
            <div class="flex-center">
                <h1>404</h1>
            </div>
        </div>
    </main>
    {% include "components/footer.html" %}
</body>

</html>