<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colnago</title>
    <style>{% include "css/common.css" %}</style>
    <style>{% include "css/index.css" %}</style>
</head>

<body>
    {% include "components/header.html"%}
    <main>
        <div class="content">
            <div class="box">
                <div class="Card">
                    <h1>404</h1>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2022 crust-hub, Inc.</p>
        <p><a href="https://github.com/crust-hub" target="_blank">@Github</a></p>
    </footer>
</body>

</html>