<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYours</title>
    <style>
        {%include "css/common.css"%}
        {%include "css/header.css"%}
        {%include "css/footer.css"%}
        {%include "css/blogs.css"%}
    </style>
</head>

<body>
    {% include "components/header.html"%}
    <main class="page-container">
        <div>
            <ul class="GET">
                {% for post in list %}
                <li style="border-bottom: 1px grey dashed;">
                    <textarea readonly class="blog-text">{{ post.date }}  {{ post.text }}</textarea>
                    <p style="text-align: right; padding:1rem;"><a href="/detail/{{ post.id }}">Detail</a></p>
                </li>
                {% endfor %}
            </ul>
            <script>
                let search = window.location.search;
                if (search.length > 0 && search[0] == '?') {
                    search = search.substr(1, search.length - 1);
                }
                search = search.split("&&");
                let map = new Map();
                search.forEach((v, i) => {
                    let pair = v.split("=");
                    map.set(pair[0], pair[1]);
                });
                console.log(map);
                let page = 1;
                if (map.has("page")) {
                    const n = Number(map.get("page"));
                    page = n <= 0 ? 1 : n;
                }
                document.write(`<div class="flex-around pading-normal" style="margin-top:1rem;">
                                            <a href="/blogs?page=${page-1}">BEFORE</a>
                                            ${page} 
                                            <a href="/blogs?page=${page+1}">AFTER</a>
                                        </div>`);
            </script>
        </div>
        <div style="margin-top: 1rem;">
            <h2>Shared Yours</h2>
            <form id="form_POST">
                <textarea class="blog-text" placeholder="text content"></textarea><br />
                <button type="submit" id="submit_POST">submit</button>
            </form>
        </div>
        </div>
    </main>
    {% include "components/footer.html" %}
</body>
<script>
    const Post = {
        post(post) {
            fetch('/post/' + post.id, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(post),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    };
    let buttons = [];
    ["POST"].forEach(item => {
        buttons.push(document.getElementById("submit_" + item));
    });

    //POST
    buttons[0].onclick = function (e) {
        e.preventDefault();
        let inputs = document.getElementById("form_POST").getElementsByTagName("textarea");
        let post = {
            id: 0,
            text: inputs[0].value,
            date: Date().toString()
        };
        Post.post(post);
    }
</script>

</html>