<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYours</title>
    <style>
        {%include "css/common.css"%}
        {%include "css/header.css"%}
        {%include "css/footer.css"%}
    </style>
</head>

<body>
    {% include "components/header.html"%}
    <main class="page-container">
        <div style="border:1px grey dashed;border-radius:0.5rem;padding: 1rem;margin: 1rem 0;">
            <div>
                {% for post in list %}
                <h2 style="margin: 1rem 0;">Post ID: {{ post.id }}</h2>
                <textarea readonly class="resize-vertical" style="min-height:100vh;">
{{ post.text }}

Date: {{ post.date }}
                </textarea>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include "components/footer.html"%}
</body>

</html>