<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYours</title>
    <style>{% include "css/common.css" %}</style>
    <style>{% include "css/index.css" %}</style>
    <style>{% include "css/header.css" %}</style>
    <style>{% include "css/footer.css" %}</style>
</head>

<body>
    {% include "components/header.html"%}
    <main>
        <div class="vh-100 flex-center pading-normal page-container">
            <h1 class="pading-normal">
                <span style="font-size: 5rem;"><a href="/" style="color: rgb(248, 103, 103);">SHARED</a></span>
                <span>YOURS </span>
            </h1>
        </div>
    </main>
    {% include "components/footer.html" %}
</body>
</html>